<div class="row">
    <h1 class="skills">Skills</h1>
       <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaskills" *ngIf="isLogged"> Agregar skill</button>
    </div>


    

<div class="box">
    <table class="table">
        <tbody>
            <tr *ngFor="let Skills of skills">
                <td>{{Skills.imgSkills}}</td>
                <td>{{Skills.nombreSk}}</td>
                <td>{{Skills.porcentaje}}%</td>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editskills/{{Skills.id}}"><i class="bi bi-pencil-square"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button type="button" class="btn btn-light" (click)="delete(Skills.id)">  <i class="bi bi-x-square"></i></button>
                </td>
          

            </tr>
        </tbody>
    </table>
</div>
