.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: BLACK;
}
.redes {
    margin-right: 0.5em;
}

#logoAP{
    width:150px
    
}

#logoInti{
    width: 200px;
    
}

img{
    width: 40px;
    padding: 0.2em;
    
}

/*...Para celulares...*/
@media(max-width:575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{ 
        margin: 0.2em;
    }}
