.row{
    padding: 30px;
}
div{
    background-color:rgba(123,123,123,1);
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        padding-top: 30px;
        height: auto;
        width:200%;
        border-radius: 100%;
        
        left: 3%;
        top:550px;
        
    }
    #acercademi{
        padding: 35px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        padding-top: 30px;
        width:50%;
        border-radius: 100%;
        left: 33%;
        top:790px;
        
    }#acercademi{
        padding: 35px;
    }
}

/*etiqueta nombre*/
#nombre{
    color:#dcc51c;
    font-weight: bold;
    margin-top: 25%;
    font-size:20px;
    
}





