<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/fotoperfil.JPG"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="Datos">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercademi">
    <tr *ngFor="let Acercade of acercade">
      <h1>Acerca de mí</h1>
      <td>Lorem ipsum dolor sit</td>
      <td *ngIf="isLogged">
        <button type="button" class="btn btn-light" routerLink="/editexp/{{Acercade.id}}"><i class="bi bi-pencil-square"></i></button>
    </td>
    <td *ngIf="isLogged">
        <button type="button" class="btn btn-light" (click)="delete(Acercade.id)">  <i class="bi bi-x-square"></i></button>
    </td>
    </tr>
  </div>
</div>
