<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombreypuesto">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p >Full Stack Developer Jr</p>
        </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercaDeMi">
        <span>
            <h1>Acerca de mi</h1>
            <p>¡Hola! Gracias por interesarte en mí.
            Mi nombre es Eugenia y me estoy iniciando en el mundo del diseño web. 
            Este nuevo mundo me esta permitiendo expandir mis conocimientos en diseño y branding.
            Mi objetivo principal es poder desarrollarme profesionalmente y evolucionar en mi sector, de modo que busco oportunidades que me permitan hacerlo, al tiempo que trataré de alinearme completamente con los objetivos de la empresa.</p>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.JPG" class="img-fluid" id="fotodeperfil" >
    </div>
</div>

