<div class="row">
    <h1>Trayectoria academica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Programacion full stack</h2> - 
            <h3>(Noviembre 2021- Mayo 2022)</h3></li>
            <p> Curso con modalidad a distancia dictado por Argentina Programa</p>
        </ul>
        <ul>
            <li><h2>Programador Web inicial </h2> - 
            <h3>(Julio-Septiembre 2021)</h3></li>
            <p> Modalidad a distancia, dictado por la Universidad Tecnológica Nacional. Certificado por: UTN FRRE- Resistencia
                </p>
        </ul>
        <ul>
            <li><h2>Tecnicatura en desarrollo web y aplicaciones digitales</h2> - 
            <h3>(Marzo 2022-presente)</h3></li>
            <p> Modalidad a distancia dictado por el instituto superior politecnico de Cordoba.</p>
        </ul>
    </div>
    </div>