<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li><h2>Secretaria</h2> - 
        <h3>(2012-2016)</h3></li>
        <p> Tramites en Arba,tramites en el registro de la propiedad,atención al público y redacción de escritos.</p>
    </ul>
    <ul>
        <li><h2>Oficial de Justicia ad hoc en Juicios de
            Apremio</h2> - 
        <h3>(2016-2019)</h3></li>
        <p> Notificadora oficial de juicios de Apremio del Estado</p>
    </ul>
    <ul>
        <li><h2>Cocos bullet</h2> - 
        <h3>(2020-2021)</h3></li>
        <p> Creacion, diseño e identidad de marca. Diseño de papeleria. Venta web, gestion y distribucion. </p>
    </ul>
</div>
</div>
